<h2>Celebrities Page </h2>
{{#each celebrities}}
<p><div class="celebrity"><a href="/celebrities/{{_id}}">{{name}}</a>
<form action="/celebrities/{{_id}}/delete" method="post">
    <button name="id" type="submit">delete</button>
</form>
<form action="/celebrities/{{_id}}/edit" method="get">
    <button type="submit">edit</button>
</form>
</div>
</p>
{{/each}}
<button><a href="/new/">Add a new celebrity</a></button>

