<h2>Movie Details</h2>
{{#with movie}}
<h4><p>{{title}}</p></h4>
<p>Genre: {{genre}}</p>
<p>Plot: "{{plot}}"</p>
<p>Cast:</p>
 {{#each movie.cast}}
 {{name}}
 {{/each}}
{{/with}}
<button><a href="/movies">Return to main Movies Page</a></button>